<p>EMBEDDED.CMS имеет встроенную поддержку локализации. 
    Локализация - механизм, позволяющий представлять пользователю одни и те же объекты на разных языках.
    По умолчанию в EMBEDDED.CMS локали отсутствуют. 
    При добавлении локалей у объектов появляются дополнительные поля, в которых можно задавать переводы текстовой информации.</p>
<p>Выбор перевода, которые будет отображен пользователю при доступе к странице сайта, осуществляется по URL адресу:</p>
<p>- если URL адрес содержит просто название страницы (например http://site.com/index.html), то будет показана локаль по умолчанию;</p>
<p>- если URL адрес содержит код локали (например http://site.com/ru/index.html), то будет показана эта локаль, при этом данные, которые не были переведены, будут отображены в локали по умолчанию.</p>
<p>Данный механизм позволяет с минимальными затратами создавать сайты, охватывающие международную аудиторию.</p>