<p>Вы находитесь в руководстве по EMBEDDED.CMS. Данная система управления контентом сайта (content managment system, CMS) создана с использованием современного фреймфорка Symfony 2. 
    Данное решение, а также современные подходы к программированию, позволили создать безопасную, быструю и гибкую систему управления контентом сайта.</p>
<p>В этой главе будет рассмотрена базовая архитектура системы. Эти сведения необходимы для правильной настройки сайта и понимания производимых действий.</p>
<p><strong>Контент, объект и страница сайта</strong></p>
<p>Контент (англ. content — содержание) - это любое информационное наполнение чего-либо (картинки, текст, видеоролики и т.д.). 
    По отношению к Интернету контентом является всё, что предстаёт перед глазами пользователя, что он может почитать, посмотреть или послушать, в том числе и текстовое наполнение сайта.
    В EMBEDDED.CMS основным источником контента являются <strong>объекты</strong>, обладающие определёнными параметрами. 
    Примером такого объекта может служит текстовая страница, её параметры - заголовок, краткое описание, сам текст страницы, автор и т.д.
    Основные объекты в EMBEDDED.CMS: пользователь, текстовая страница, изображение, файл, продукт.</p>
<p>Объект может иметь собственную страницу сайта для представления, например личную страницу пользователя, на которой представлена вся информация о нём.
    Объект также может отображатся на странице сайта вместе в другими объектами, например на странице поиска по сайту.
    Таким образом, на одной странице сайта используется информация об одном или нескольких объектах.</p>
<p><strong>Классификация объектов</strong></p>
<p>Объект может быть таксономируемым, т.е. поддающимся <strong>классификации</strong>. 
    В этом случае можно создать классификацию этих объектов, а каждый объект отнести к одной или даже нескольким категориям.
    Эти действия позволяют сгруппировать объекты, для более удобного их представления на сайте. 
    Так, например, можно создать классификацию продукции магазина, в этом случае пользователь быстро найдёт интересующий его продукт.
    Более подробно об этом можно почитать в разделе классификации.</p>
