<p>На главную страницу административной части EMBEDDED.CMS вынесены ссылки на все доступные действия. Структура страницы совпадает со структурой главного меню.</p>
<p>Также на главной странице присутствует блок статистики, на котором отображаются базовые показатели посещаемости сайта, а также график посещаемости за последнюю неделю.</p>
