<p>На страницах статистики отображаются данные о посещаемости страниц сайта.</p>
<p>Во вкладке &laquo;Страницы сайта&raquo; представлена таблица, со списком страниц сайта. Нажав на ID страницы можно перейти на страницу подробной статистики данной страницы.</p>
<p>Во вкладке &laquo;Общая статистика&raquo; отображается общая статистика посещаемости сайта. Можно отобразить данные посещаемости по дням, неделям или месяцам.</p>
<p>Данные о посещаемости страниц учитывают <strong>все</strong> обращения к странице сайта, включая повторные открытия одной и той же страницы одним пользователем. 
    Для более подробной статистики воспользуйтесь соответствующими интернет-сервисами.</p>