<div class="earth-left-item">
    <h4>{% if currentLocale == 'en' %}Main menu{% else %}Главное меню{% endif %}</h4>
    <ul class="nav nav-stacked earth-nav-menu">
        {% if (items|length) > 0 %}
            {% for i in 0..(items|length - 1) %}
                <li {% if (items[i]['active'] != 0) %}class="active"{% endif %}>
                    {% if (items[i]['enabled'] != 0) %}
                        <a href="{{items[i]['url']}}">{{items[i]['name']}}</a>
                    {% else %}
                        <span style="color:#ccc;">{{items[i]['name']}}</span>
                    {% endif %}
                    {%if ((i < items|length-1) and (items[i+1]['nesting'] > items[i]['nesting']))%}
                        <ul>
                        {%else%}
                    </li>
                {%endif%}
                {%if ((i < items|length-1) and (items[i+1]['nesting'] < items[i]['nesting']))%}
                    {% for j in 0..(items[i]['nesting'] - items[i+1]['nesting'] - 1) %}
                    </ul></li>
                {% endfor %}
            {%endif%}
        {% endfor %}
        {%if (items[items|length-1]['nesting'] > 0)%}
            {% for j in 0..(items[items|length-1]['nesting'] - 1) %}
        </ul></li>
    {% endfor %}
{%endif%}
{% endif %}
</ul>
</div>
