{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {{ render(controller('BasicCmsBundle:Default:menu')) }}
{% endblock %}
{% block title %}Список продукции{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <span>Продукция</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    <a href="#" id="tab1" {% if (tab == 0) %}class="active"{% endif %}>Продукты</a>
</div>
<div id="tabsContent">
    <div id="con_tab1" {% if (tab == 0) %}class="active"{% endif %}>
        {% include "ShopProductBundle:Default:productListTab1.html.twig" %}
    </div>
</div>​
{% endblock %}       



