<table class="cfgTable">
    <tr>
        <td>Имя локали по умолчанию</td>
        <td><input type="text" name="parameters[defaultname]" value="{{parameters['defaultname']}}" /></td>
        <td class="cfgError">{{parameterserror['defaultname']}}</td>
    </tr>
</table>
