<table class="cfgTable">
    <tr>
        <td>Представление для вывода</td>
        <td>
            <select name="parameters[showid]">
                {% for show in showlist %}
                    <option value="{{show['id']}}" {% if (parameters['showid'] == show['id']) %}selected="selected"{% endif %}>{{show['title']}} {% if (show['enabled'] == 0) %}(выключено){% endif %}</option>
                {% endfor %}
            </select>
        </td>
        <td class="cfgError">{{parameterserror['showid']}}</td>
    </tr>
</table>

