{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {{ render(controller('BasicCmsBundle:Default:menu')) }}
{% endblock %}
{% block title %}Категории{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <span>Категории{% if taxonomyobject != '' %} объектов &laquo;{{taxonomydescription}}&raquo;{% endif %}</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    {% if (app.user.checkAccess('taxonomy_list') == 1) %}
    <a href="#" id="tab1" {% if (tab == 0) %}class="active"{% endif %}>Список групп категорий</a>
    {% endif %}
    {% if (app.user.checkAccess('taxonomy_listshow') == 1) %}
    <a href="#" id="tab2" {% if (tab == 1) %}class="active"{% endif %}>Список представлений</a>
    {% endif %}
</div>
<div id="tabsContent">
    {% if (app.user.checkAccess('taxonomy_list') == 1) %}
    <div id="con_tab1" {% if (tab == 0) %}class="active"{% endif %}>
        {% include "BasicCmsBundle:Taxonomy:taxonomyListTab1.html.twig" %}
    </div>
    {% endif %}
    {% if (app.user.checkAccess('taxonomy_listshow') == 1) %}
    <div id="con_tab2" {% if (tab == 1) %}class="active"{% endif %}>
        {% include "BasicCmsBundle:Taxonomy:taxonomyListTab2.html.twig" %}
    </div>
    {% endif %}
</div>​
{% endblock %}       



