{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {{ render(controller('BasicCmsBundle:Default:menu')) }}
{% endblock %}
{% block title %}Список форм{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <span>Формы</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    {% if (app.user.checkAccess('form_letterlist') == 1) %}
    <a href="#" id="tab1" {% if (tab == 0) %}class="active"{% endif %}>Письма от форм</a>
    {% endif %}
    {% if (app.user.checkAccess('form_list') == 1) %}
    <a href="#" id="tab2" {% if (tab == 1) %}class="active"{% endif %}>Список форм</a>
    {% endif %}
</div>
<div id="tabsContent">
    {% if (app.user.checkAccess('form_letterlist') == 1) %}
    <div id="con_tab1" {% if (tab == 0) %}class="active"{% endif %}>
        {% include "FormFormBundle:Default:formListTab1.html.twig" %}
    </div>
    {% endif %}
    {% if (app.user.checkAccess('form_list') == 1) %}
    <div id="con_tab2" {% if (tab == 1) %}class="active"{% endif %}>
        {% include "FormFormBundle:Default:formListTab2.html.twig" %}
    </div>
    {% endif %}
</div>​
{% endblock %}       



